.hide {
  display: none;
}
.categoryList {
  position: absolute;
  list-style: none;
  font-size: 1.2rem;
  gap: 5px;
  background-color: #9d7ef9;
  padding: 1rem 0.5rem;
  right: 2rem;
  top: 11.3rem;
  line-height: 2rem;
  letter-spacing: 1px;
  outline: 0.5rem solid #9d7ef9;
  border: 2px solid #fff;
  border-radius: 1rem;
  cursor: pointer;
}
.segosh {
  position: absolute;
  font-size: 1.5rem;
  top: 10.2rem;
  right: 6.8rem;
  z-index: 3;
}
.CategoryIcon {
  position: relative;
}
