.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons h2 {
  margin: 2rem 0rem;
  color: #4f3894;
}
.iconInfo {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.mainIcon {
  color: var(--mainColor);
}
.twoIcons p {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
