@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.headderContainer {
  background-color: var(--mainColor);
  font-family: "Bree Serif", serif;
  letter-spacing: 3px;
  color: #fff;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 2rem;
  padding-top: 0.5rem;
  border: 3px solid #fff;
  outline: 1rem solid var(--mainColor);
  margin: 0 2rem 4rem 2rem;
  text-align: center;
}
.icon {
  font-size: 2.4rem;
  margin: 1rem 2rem 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  background-color: var(--mainColor);
  color: #fff;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 2rem;
  padding-top: 0.5rem;
  border: 3px solid #fff;
  outline: 1rem solid var(--mainColor);
  margin: 0 2rem 4rem 2rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.navServices {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cn {
  position: relative;
}
.number {
  font-size: 1.4rem;
  font-weight: 500;
  position: absolute;
  top: -0.8rem;
  right: -.5rem;
  color: var(--mainColor);
  padding: 0px 4px;
  background-color: #fff;
  border-radius: .5rem;
}
